/* canvas_game styles */

canvas {
    display: block;
}

.block {
    position: relative;
}

.block__header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 25px;
}

.block__player_1,
.block__player_2 {
    height: 80px;
    width: 100%;
}

.block__name-player_1,
.block__name-player_2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name__player_1,
.name__player_2 {
    width: 75%;
    text-align: center;
    font-size: 18px;
    color: black;
    background-image: url('file:///C:/Users/Merlion/Documents/Github/canvas_dragon_slayer/dragon_slayer/game_files/images/items/white.png');
    background-color: white;
    padding: 4px;
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-right: 4px solid white;
}

.block__health-player_1 {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    border: 4px solid white;
}

.block__health-player_2 {
    position: relative;
    width: 100%;
    border: 4px solid white;
}

.player_1__health {
    text-align: left;
    height: 30px;
    width: 100%;
    font-size: 18px;
    color: white;
    background-image: url('file:///C:/Users/Merlion/Documents/Github/canvas_dragon_slayer/dragon_slayer/game_files/images/items/black.png');
    padding: 6px;
}

.player_2__health {
    text-align: right;
    height: 30px;
    font-size: 18px;
    color: white;
    background-image: url('file:///C:/Users/Merlion/Documents/Github/canvas_dragon_slayer/dragon_slayer/game_files/images/items/black.png');
    padding: 6px;
}

.player_1__health-main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 18px;
    color: white;
    background-image: url('file:///C:/Users/Merlion/Documents/Github/canvas_dragon_slayer/dragon_slayer/game_files/images/items/red.png');
    background-color: red;
    padding: 6px;
}

.player_2__health-main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 18px;
    color: white;
    background-image: url('file:///C:/Users/Merlion/Documents/Github/canvas_dragon_slayer/dragon_slayer/game_files/images/items/blue.png');
    background-color: blue;
    padding: 6px;
}

.player_1__health-main {
    text-align: left;
}
.player_2__health-main {
    text-align: right;
}

.block__time {
    position: absolute;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: white;
    background-image: url('file:///C:/Users/Merlion/Documents/Github/canvas_dragon_slayer/dragon_slayer/game_files/images/items/fire.png');
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 4px solid white;
    z-index: 5;
    cursor: pointer;
}

.block__round {
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    height: 100px;
    width: 100px;
}

.block__timer {
    display: flex;
    align-items: flex-start;
    text-align: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    padding: 10px 25px;
}

.block__skills-player_1,
.block__skills-player_2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block__triangle_1 {
    border-top: 30px solid white;
    border-right: 320px solid transparent;
}

.block__triangle_2 {
    border-top: 30px solid white;
    border-left: 320px solid transparent;
}

.player_1__skill,
.player_1__ultimate,
.player_2__skill,
.player_2__ultimate,
.player_1__active-skill,
.player_2__active-skill {
    text-align: center;
    height: 30px;
    width: 50%;
    font-size: 18px;
    color: black;
    background-color: red;
    padding: 4px;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
}

.player_1__active-skill,
.player_2__active-skill {
    background-color: darkorange;
}

.block__center {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 80px;
    text-shadow: 0 -5px 2px rgba(0, 0, 0, 0.7);
    color: white;
}

.block__footer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    color: white;
    background-color: black;
    border: 4px solid white;
    padding: 15px;
}

.block__menu {
    width: 33%;
    text-align: center;
    font-size: 25px;
    text-shadow: 0 -5px 2px rgba(0, 0, 0, 0.7);
    color: white;
    cursor: pointer;
}
